.preloader-wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #1a1a1a;
}

.main-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* The Counter */
.counter-container {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 20;
}

.counter-text {
    font-size: 10vw;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    margin: 0;
}

/* The Grid of Blocks */
.blocks-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    z-index: 10;
    pointer-events: none; /* Allows clicking through after anim */
}

.block {
    flex: 1;
    height: 100%;
    background-color: #d1d1d1; /* The grey color from your screenshot */
}